html,body{
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    line-height:  1.42857143;
    color: #fff;
}    

body{
    background-color: white;
    background-image: url(http://geekwiseacademy.com/img/owl-courses.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


header{
    margin: 0 auto;
    background-color: #7a1501;
    color: white;
    height: 27%;
    text-decoration-color: #fff;
}
 

#logo{
    color: black;
    font-size: 22px;
}

.fluff{
    margin: 0 auto;
    font-size: 18px;
    position: bottom;
}


.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


button{
    text-align: center;
    background-color: #f9da0c; 
    color: #fff;
}

footer{
    margin-left: 450px;
    float:left;
    padding: 20px;
    height: 15px;
    background-color:#f9da0c;
    color:#7a1501;
}


    
    