html,body{
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    background-color: #7a1501;
    width: 100%;
    line-height:  1.42857143;
}    

body{
    background-color: white;
    background-image: url(http://geekwiseacademy.com/img/owl-courses.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


header{
    margin: 0 auto;
    background-color: #7a1501;
    color: white;
    height: 13em;
}
 

#logo{
    color: black;
    font-size: 22px;
}

.fluff{
    margin: 0 auto;
    font-size: 18px;
    position: bottom;
}

nav {
    height: 40px;
    width: 100%;
    background: #7a1501;
    font-size: 11pt;
    font-family: 'sans-serif;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #f9da0c;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    background-color: #7a1501;
    width: 600px;
    height: 40px;
}


nav li {
    display: inline;
    float: left;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #7a1501;
}


nav li a {
    border-right: 1px solid #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #f9da0c;
}

nav a#pull {
    display: none;
}  

a {
    text-decoration: none;
    color: #f9da0c;
}

.active{
    background-color: #f9da0c;
    color: #7a1501;
}
.active > a{
    color:#7a1501;
    
}

hr{
    border-bottom: soild 1px #000;
}

#container{
    margin: left;
    margin: right;
    position: absolute;
    text-align: center;
    
}


#content{
    margin: 0 auto;
    display:block;
    box-sizing: border-box;
    width: 80%;
    text-align: left;
    font-weight: 500;
    font-size:18px;
    line-height:1.9em;  
}



.enroll{
    background-color:#f9da0c;
    text-transform: uppercase;
    width: 32px;
    height: 18px;
    color:#7a1501;
    
}

.enroll_sign{
    padding: 8px;
    color: #7a1501;
}

p{
    position: bottom;

}
    
.top_table{
    box-sizing: border-box;
    border-bottom: 3em solid black;
}

.lesson{
    padding: 20px;
    font-size: 14px;
}

main{
    box-sizing: border-box;
    color: #000;
    width: 100%;
}

button{
    text-align: center;
    background-color: #f9da0c; 
    color: #fff;
}

footer{
    margin-left: 450px;
    float:left;
    padding: 20px;
    height: 15px;
    background-color:#f9da0c;
    color:#7a1501;
}


    @media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #7a1501;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}
    .none{
        visibility: visible;
    }
    
    .enroll, .enroll sign{
        display: block;
    }

    
}




@media screen and (max-width: 600px){
    body, #logo,{
        width: 100%;
    }
    
    
header, nav, li ul {
        float: none;
    
    }
    
    #fluffy{
        display: inline;
    }
    
    a :hover, {
        margin: 0 auto;
    }
    
    .container, .content, tr, td{
        width: 100%;
    }
    
}
    