html,body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    
}    

body{    
background-color: white;
background-image: url(http://geekwiseacademy.com/img/owl-courses.png);
background-position: bottom right;
background-repeat: no-repeat;
background-attachment: fixed;
    
}


header{
    margin: 0 auto;

    display: block;
    background-color: #7a1501;
    color: white;
    height: 34%;
}
 

#logo{
    float: left;
    color: black;
    font-size: 22px;
}

.fluff{
    margin: 50px;
    font-size: 20px;
}

nav{
    margin: 0 auto;
    height:3rem;
    width:100%;
    font-size: 16px;
    list-style: none;
    
}

li{
    list-style: none;
}



ul.topnav li {
    margin: 0 auto;
    float:left; 
    font-weight: 600;
}

ul.topnav li a {
    display: block;
    color: white;
    float: right;
    padding: 16px 18px;
    list-style: none;
    text-decoration: none;
}



.active{
    text-decoration-color: #7a1501;
    background-color: #f9da0c;

}


a {
    text-decoration: none;
    color: #f9da0c;
}


.active > a{
    color:#7a1501;
    
}


a:hover{
    background-color: yellow;
}

hr{
    border-bottom: soild 1 light grey;
}


.text_content{
    margin: 0 auto;
    float: left;
    display: block;
}



.enroll{
    background-color:#f9da0c;
    text-transform: uppercase;
}

.enroll_sign{
    padding: 8px;
    color: #7a1501;
}

p{
    position: bottom;

}
    
.top_table{
    box-sizing: border-box;
    border-bottom: 3em solid black;
}

.lesson{
    padding: 20px;
    font-size: 14px;
}
section{
    padding: 80px;
    width: 80%;
}
footer{
    margin-left: 450px;
    float:left;
    padding: 20px;
    height: 15px;
    background-color:#f9da0c;
    color:#7a1501;
}


@media only screen and (max-width:480px){
    body{ 
        background-image: none;
    }
    p{
        font-size: 15px;
        
    } 
    .geekwise{
        height: 500px;
    }
    span{

        width: 50%;
    }
    .active{
        position: relative;
        top:-160px;
        margin-left: 200px;
        visibility: visible;
    }
    .none{
        visibility: visible;
    }

    
}




@media screen and (max-width: 600px){
    body, #logo,{
        width: 100%;
    }
    
    
header, nav, li.right, 
    ul.topnav li {
        float: none;
    
    }
    
 h3{
        margin: auto;
    }
    
    a :hover, {
        margin: 0 auto;
    }
    
    
    
    
}

@media only screen and (max-width:900px){
    .fa{
        visibility: visible;
        color: gray;
    }
    .list{
    width: auto;
    height: auto;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
        
    }
    
    li{
        visibility: hidden;
    
}